*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family:'Gilroy';
    src: url(Gilroy-Black.ttf);
}
body{
    background-image: url('Wave4.svg'); 
    background-repeat: no-repeat;
  background-attachment: fixed; 
  
  
  
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}


.calculator{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 1.3rem;
   background-color: #ffffff28;
   backdrop-filter: blur(34px);
   border-radius: 1rem;
   
}

.display{
    width:20rem;
    height: 6rem;
    background-color:transparent;
    border: 0.1px solid #19191957;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #000;
    font-family: 'Gilroy';
    box-sizing: border-box;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}


.buttons-div{
    display: grid;
    grid-template-columns: repeat(4,0.5fr);
    place-items: center;
    background-color: transparent;

}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    height: 5rem;
    width: 5rem;
    border: none;
    outline: none;
    border: 0.5px solid #19191957;
    background-color: transparent;
    font-family: 'Gilroy';
    color: #000;
    font-size: 1.5rem;
    transition: all 0.1s ease;

}

.btn:hover{
    background-color: #FF6500;
    cursor: pointer;

}

@media only screen and (min-width:320px) and (max-width:337px){
    .btn{
        height: 4rem; 
        width: 4rem;

    }
    .display{
        width: 16rem;
    }
}

@media only screen and (min-width:338px) and (max-width:381px){
    .btn{
        height: 4.5rem; 
        width: 4.5rem;

    }
    .display{
        width: 18rem;
    }
}
